*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top, #c8e1cc, #d2e7d6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    margin-top: 80px;
    margin-bottom: 80px;
    box-shadow: 5px 5px 10px #748877;
}

.navbar{
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    margin-bottom: 100px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0.7));
    box-shadow: 5px 5px 10px #748877;
}

.post{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title{
    flex:8;
}
.login{
    flex:1;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    padding: 5px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register{
    flex:1;
    display: flex;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    padding: 5px;
    border-radius: 2rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-title{
    flex:1;
}
.info{
    flex:1;
}
.body{
    flex:20;
}
p {
    padding: 35px;
}

#orientation{
    width:100%;
    padding-left: 30px;
}
#onetime{
    margin-right:20px;
}

/*Login, register, edit and new page:*/

.glass_login{
    display: flex;
    background: white;
    min-height: 40vh;
    width: 30%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    margin-top: 80px;
    margin-bottom: 80px;
    box-shadow: 5px 5px 10px #748877;
}

input{
    width: 80%;
    height: 40px;
    margin: 5px;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
    padding: 10px;
    border: 2px solid;
    border-radius: 4px;
    resize: none;
}
label{
    display: block;
    margin: 5px;
}


button{
    width: 80%;
    height: 40px;
    margin-top: 40px;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.1));
    border: 2px solid;
    border-radius: 4px;
    resize: none;
}

button:hover{
    background: ivory;
}

.content_login{
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 10px;
}

#for_margin{
    margin-bottom: 20px;
}

textarea{
    width: 80%;
    height: 350px;
    padding: 12px 20px;
    border: 2px solid;
    border-radius: 4px;
    resize: none;
}

#fourohfour{
    display: flex;
    padding: 10px;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}