<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: 404</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styling.css}">
</head>
<body>
<main>
    <section class="navbar">
        <div class="title">
            <h1><a class ="home" th:href="@{/}">Home</a></h1>
        </div>
    </section>
    <section class="glass">
        <h1 id="fourohfour">Sorry, page not found. <br>Error code: 404</h1>
        </p>
    </section>
</main>
</body>
</html>