<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styling.css}">
</head>
<body>
    <div class="container">
        <h1>Blog</h1>
        <hr />
        <div sec:authorize="isAuthenticated()">
            <ul>
                <li><a th:href="@{/posts/new}">Create a new Post</a></li>
            </ul>
        </div>
        <div class="post-container">
            <div class="post" th:each="post : ${posts}">
                <h2><a th:href="@{'/posts/' + ${post.id}}"
                       th:text="${post.title}">Title</a>
                </h2>
                <h5 th:text="'Author ' + ${post.account.firstName}">Author</h5>
                <h5 th:text="'Published on '+${post.createdAt}">Created At</h5>
                <h5 th:text="'Last updated on '+${post.updatedAt}">Updated At</h5>
                <p th:text="${post.body}">body text</p>
                <br />
            </div>
        </div>
        <hr />
        <ul sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form action="#" th:action="@{/logout}"
                  method="POST">
                <div>
                    <label>Hi, <span sec:authentication="name">Username</span></label>
                </div>
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>