<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styling.css}">
</head>
<body>
<main>
    <section class="navbar">
        <div class="title" sec:authorize="!isAuthenticated()"><h1>Blog</h1></div>
        <div class="title" sec:authorize="isAuthenticated()"><h1>Hello, <span sec:authentication="name">Username</span></h1></div>
        <div class="register" sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Register</a></div>
        <div class="login" sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></div>
        <div class="register" sec:authorize="isAuthenticated()"><a th:href="@{/posts/new}">Create a new Post</a></div>
        <div class="login" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></div>
    </section>
    <section class="glass">
        <div class="post" th:each="post : ${posts}">
            <h2 class="post-title"><a th:href="@{'/posts/' + ${post.id}}"th:text="${post.title}">Title 1</a></h2>

            <h6 class="info" th:text="'Author ' + ${post.account.firstName}">Author</h6>
            <h6 class="info" th:text="'Published on '+${post.createdAt}">Created At</h6>
            <h6 class="info" th:text="'Last updated on '+${post.updatedAt}">Updated At</h6>

            <p class="body" th:text="${post.body}">post body</p>
            <br />
        </div>
    </section>
</main>
</body>
</html>