<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog :: Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styling.css}">
</head>
<body>
<main>
  <section class="navbar">
    <div class="title">
      <h1><a class ="home" th:href="@{/}">Home</a></h1>
    </div>
  </section>
  <section class="glass_login">
    <form class="content_login" action="#" th:action="@{/login}" method="POST">
      <label for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="Email" />
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password" />
      <button type="submit">Login!</button>
    </form>
  </section>
</main>
</body>
</html>