<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog :: New Post</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styling.css}">
</head>
<body>
<main>
  <section class="navbar">
    <div class="title">
      <h1><a class ="home" th:href="@{/}">Home</a></h1>
    </div>
  </section>
  <section class="glass">
    <form class="content_login" action="#" th:action="@{'/posts/new'}" th:object="${post}" method="POST">
      <input type="hidden" th:field="*{account}" />
      <input type="hidden" th:field="*{createdAt}" />
      <h2>Write new Post</h2>
      <label for="new-post-title">Title</label>
      <input id="new-post-title" type="text" th:field="*{title}" placeholder="Title" maxlength="40">
      <label for="new-post-body">Body</label>
      <textarea id="new-post-body" th:field="*{body}" maxlength="500"></textarea>
      <button type="submit">Publish Post</button>
    </form>
  </section>
</main>
</body>
</html>